html{
   background-color: antiquewhite;
}
h1 {
  padding: 5px 15px;
  margin: 20px 20px;
  border-radius: 10px;
  color: rgb(64, 147, 224);
  background: linear-gradient(to top, rgb(130, 213, 246), rgb(172, 221, 237));
  display: inline-block;
}
h1:hover {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

.outer {
  margin: 20px;
  background: rgb(180, 221, 255);
  width: 1450px;
  border-radius: 25px;
  height: 1000px;
}
.img1 {
  margin: 20px;
  width: 175px;
  height: 150px;
  display: block;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
.img1:hover {
  transform: translateY(-1.5px) scale(1.02);
}
p {
  margin: 10px;
  font-weight: bold;
  font-family: "Monaco", monospace;
  font-size: 1.5em;
  color: palevioletred;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to top, plum, rgb(255, 255, 139));
  display: inline-block;
  border-radius: 25px;
}
p:hover{
   transform: translate(-1.5px) scale(1.002);
}
